@model IEnumerable<ASPCoreDemo.Models.HinhChuNhat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="HinhChuNhat">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienTich)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuVi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienTich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuVi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
