@model IEnumerable<HangHoaViewModel>
@{
    ViewData["Title"] = "Index";
}
<link href="~/css/HangHoa.css" rel="stylesheet" />
<h2>Danh sách Sản phẩm</h2>
<div>Trang: @ViewBag.TrangHienTai/@ViewBag.TongSoTrang</div>
<ul class="pagination">
    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-loai="@ViewBag.loai" asp-route-ncc="@ViewBag.ncc" asp-route-page="1">First</a></li>
    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-loai="@ViewBag.loai" asp-route-ncc="@ViewBag.ncc" asp-route-page="@(ViewBag.TrangHienTai - 1)">Previous</a></li>
    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-loai="@ViewBag.loai" asp-route-ncc="@ViewBag.ncc" asp-route-page="@(ViewBag.TrangHienTai + 1)">Next</a></li>
    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-loai="@ViewBag.loai" asp-route-ncc="@ViewBag.ncc" asp-route-page="@ViewBag.TongSoTrang">Last</a></li>
</ul>
<ul class="product-list">
    @foreach (var hh in Model)
    {
        <li class="relative">
            <img class="radius" src="~/Hinh/HangHoa/@hh.Hinh" alt="@hh.TenLoai | @hh.TenHh" width="200" height="300" />
            <h3 class="brand-name"><a href="#brand-page" title="Brand Name">@hh.TenLoai</a></h3>
            <h2 class="product-name"><a href="#product-page" title="@hh.TenHh">@hh.TenHh</a></h2>
            <a class="add-to-favorites relative hover" href="#favorite" title="Add to favorites">Add to favorites</a>
            <a class="add-to-cart absolute radius hover" 
asp-action="AddToCart" 
asp-controller="Cart" 
asp-route-maHh="@hh.MaHh"
asp-route-soLuong="1"
title="@hh.TenHh - @hh.GiaBan">Buy now</a>
            <a class="share share-facebook absolute hover" href="#share-facebook" title="Share on Facebook">f</a>
            <a class="share share-twitter absolute hover" href="#share-twitter" title="Share on Twitter">t</a>
        </li>
    }
</ul>
