@model IEnumerable<HangHoaViewModel>
@{
    ViewData["Title"] = "Index";
}
<link href="~/css/HangHoa.css" rel="stylesheet" />

<ul class="product-list">
    @foreach (var hh in Model)
    {
        <li class="relative">
            <img class="radius" src="~/Hinh/HangHoa/@hh.Hinh" alt="@hh.TenLoai | @hh.TenHh" width="200" height="300" />
            <h3 class="brand-name"><a href="#brand-page" title="Brand Name">@hh.TenLoai</a></h3>
            <h2 class="product-name"><a href="#product-page" title="@hh.TenHh">@hh.TenHh</a></h2>
            <a class="add-to-favorites relative hover" href="#favorite" title="Add to favorites">Add to favorites</a>
            <a class="add-to-cart absolute radius hover" href="#buy-now" title="Buy now">Buy now</a>
            <a class="share share-facebook absolute hover" href="#share-facebook" title="Share on Facebook">f</a>
            <a class="share share-twitter absolute hover" href="#share-twitter" title="Share on Twitter">t</a>
        </li>
    }
</ul>
